<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net451" />
  <package id="HabitRPG.Client" version="1.1.0.0-alpha" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="net451" />
  <package id="MvvmLightLibs" version="4.3.31.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net451" />
</packages>